body{
    background-color: rgba(0,0,0,0.1);
    font-family: 'Titillium Web', sans-serif;
}

/*.header{
    height:200px;
    background-size: 100% 200%;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
    position: relative;
}
*/
#date{
    /*position: absolute;*/
    /*bottom: 10px;*/
    /*left: 10px;*/
    color: #FFF;
    font-size: 22px;
    font-family: 'Titillium Web', sans-serif;
    margin-top: 8px;
    margin-right: 20px;
}

.content{
    height: 500px;
    max-height:500px;
    width: 400px;
    background-color: #FFF;
    overflow: auto;
    border-radius: 15px 15px 0 0;
    margin: auto;
}

.item{
    width: 95%;
    height: 50px;
    min-height: 45px;
    max-width: 100%;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    list-style: none;
    padding: 0;
    margin: 0;
}

/*checkbox*/
.item i.co{
    position: absolute;
    font-size: 25px;
    padding-left:5px;
    left:15px;
    top:10px;
}
/*.item i.co:hover{
    cursor: pointer;
}*/
.fa-check-circle{
    color: #6eb200;
}

/*entered data*/
.item p.text{
    position: absolute;
    /*padding-left: 10px;*/
    margin:0;
    font-size: 20px;
    left:50px;
    top:5px;
    background-color: #FFF;
    max-width:285px;
}

.lineThrough{
    text-decoration: line-through;
    color : #ccc;
}

/*delete icon*/
.item i.de{
    position: absolute;
    font-size: 25px;
    right:15px;
    top:10px;
}
.item i.de:hover{
    color:#af0000;
    cursor: pointer;
}

/* ------------ add item ------------ */
.add-to-do{
    position: relative;
    margin: auto;
    height:60px;
    background-color: #FFF;
    padding: 5px;
    border-top: 1px solid rgba(0,0,0,0.1);
    width: 400px;
    margin-bottom: 10px;
}

.add-to-do i{
    float: right;
    margin-right: 35px;
    font-size: 40px;
    color: #4162f6;
}

.add-to-do input{
    margin-left: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    padding-left: 15px;
    width:250px;
}

.add-to-do input::-webkit-input-placeholder {
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}

/*login*/

.box{
    width: 100%;
    max-width:380px;
    height: 370px;
    /*max-height:370px;*/
    background-color: #FFF;
    margin: 40px auto;
    padding: 20px;
    font-size: 20px;
}

.anchor
{
    font-size: 18px;
    float: right;
}

a:hover{
    text-decoration: none;
}

li a
{
    color: white; font-size: 20px;
}

.nav>li>a:focus, .nav>li>a:hover
{
    background-color: #337ab7;
}

a:hover{
    color: #337ab7;
}

li a:hover{
    color: white;
}
